.example-chip-list {
  width: 100%;
}

.color-border-chip {
  border : 1px solid #d8d8da;
}

.search-container {
  display: block;
  margin-top: 20px;
}

.fields-container {
  display: flex;
  flex-direction: column;
}

.example-container{
  height: 45px;
}

.example-form-field{
  max-width: 300px;
}

.mat-chip-margin{
  margin-right: 5px;
}

.example-mat-select{
  max-width: 300px;
}

.example-additional-selection {
  opacity: 0.75;
  font-size: 0.75em;
}

.example-mat-icon-button {
  float: right;
  margin-right: 20px;
}

.excel-icon {
  height: 35px;
  width: 35px;
}

/*Пошла жара*/

table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}
