.example-chip-list {
  width: 100%;
}

.color-border-chip {
  border : 1px solid #d8d8da;
}

.search-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.example-container{
  height: 45px;
}

.example-form-field{
  max-width: 300px;
}

.mat-chip-margin{
  margin-right: 5px;
}

.example-mat-select{
  max-width: 300px;
}

.example-additional-selection {
  opacity: 0.75;
  font-size: 0.75em;
}
